https://www.inferentialthinking.com/chapters/13/1/Percentiles.html

In [2]:
import pandas as pd

In [3]:
scores_by_section_df = pd.read_csv('./ab_data/scores_by_section.csv')
scores_by_section_df.head()

   Section  Midterm
0        1       22
1        2       12
2        2       23
3        2       14
4        1       20